In [29]:
# Import the dependencies.
import pandas as pd
import gmaps
#import requests
# Import the API key.
from config import g_key
import requests

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-02-23 03:52:41,3.0707,172.7902,82.17,79,100,20.07
1,1,Lakatoro,VU,2022-02-23 03:52:41,-16.0999,167.4164,84.63,72,17,11.21
2,2,Albany,US,2022-02-23 03:52:41,42.6001,-73.9662,59.61,95,100,12.86
3,3,Yar-Sale,RU,2022-02-23 03:52:42,66.8333,70.8333,-13.36,100,63,5.84
4,4,Cockburn Town,TC,2022-02-23 03:49:41,21.4612,-71.1419,76.71,73,1,20.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of winds
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-02-23 03:52:41,3.0707,172.7902,82.17,79,100,20.07
1,1,Lakatoro,VU,2022-02-23 03:52:41,-16.0999,167.4164,84.63,72,17,11.21
4,4,Cockburn Town,TC,2022-02-23 03:49:41,21.4612,-71.1419,76.71,73,1,20.00
13,13,Atuona,PF,2022-02-23 03:52:45,-9.8000,-139.0333,78.62,75,5,18.84
14,14,Kahului,US,2022-02-23 03:52:46,20.8947,-156.4700,80.62,71,20,20.71
16,16,New Norfolk,AU,2022-02-23 03:52:47,-42.7826,147.0587,84.88,38,30,1.99
18,18,Vaini,TO,2022-02-23 03:52:48,-21.2000,-175.2000,82.56,94,75,8.05
19,19,Carnarvon,AU,2022-02-23 03:52:48,-24.8667,113.6333,86.07,58,0,20.71
20,20,Guarapari,BR,2022-02-23 03:52:48,-20.6667,-40.4975,78.69,92,100,8.03
22,22,Mahebourg,MU,2022-02-23 03:52:49,-20.4081,57.7000,82.26,94,40,13.80

In [19]:
preferred_cities_df.count()

City_ID       136
City          136
Country       136
Date          136
Lat           136
Lng           136
Max Temp      136
Humidity      136
Cloudiness    136
Wind Speed    136
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0      Butaritari      KI     82.17   3.0707  172.7902
1        Lakatoro      VU     84.63 -16.0999  167.4164
4   Cockburn Town      TC     76.71  21.4612  -71.1419
13         Atuona      PF     78.62  -9.8000 -139.0333
14        Kahului      US     80.62  20.8947 -156.4700
16    New Norfolk      AU     84.88 -42.7826  147.0587
18          Vaini      TO     82.56 -21.2000 -175.2000
19      Carnarvon      AU     86.07 -24.8667  113.6333
20      Guarapari      BR     78.69 -20.6667  -40.4975
22      Mahebourg      MU     82.26 -20.4081   57.7000

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]